// Font variables
$font-primary: 'Solway', serif;
$font-title: 'Bigelow Rules', cursive;

// Color variables
$color-component-card-bg: #95dada;
$color-app-heading: #0ccac4;
$bg-gradient: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
);