@import './sass/abstracts/variables';

.App {
  padding: 6rem 5vw;
  background-image: $bg-gradient;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(max-content, 1fr);
  grid-template-rows: 12rem min-content 1fr;
  grid-row-gap: 1.8rem;

  &__heading {
    justify-self: center;
    font-family: $font-title;
    font-size: 9.6rem;
    line-height: 1.2;
    color: $color-app-heading;
  }
}